body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* {
    box-sizing: border-box;
}*/

/* Create a column layout with Flexbox */
.row {
    display: flex;
}

/* Left column (menu) */
.left {
    flex: 35%;
    padding: 15px 0;
}

.left h2 {
    padding-left: 8px;
}

/* Right column (page content) */
.right {
    flex: 65%;
    padding: 15px;
}

/* Style the search box */
#mySearch {
    width: 90%;
    height: 20px;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/* Style the navigation menu inside the left column */
#videoList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#videoList li a {
    margin: 12px;
    text-decoration: none;
    color: white;
    display: block;
    /*background-color: white;
    border: 3px solid #ddd;
    border-radius: 6px;*/
}

#videoList .video-block {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#videoList .video-block img {
    width: calc(40vw - (8px + 12px) * 2);
    margin-right: 10%;
    background-color: white;
    border-radius: 15px;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 30%);
    width: calc(100% - 24px - 30px);
}

hr:last-child {
    display: none;
}
