.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-color: black;
    border-width: medium;
}

button {
    background-color: #bbb;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border: none;
}

button:hover {
    border: none;
    background: orange;
    box-shadow: 0px 0px 1px #777;
    border-radius: 8px;
}

a {
    /*background-color: #bbb;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;*/
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    /*border: none;*/
}

a:hover {
    border: none;
    /*background: orange;
    box-shadow: 0px 0px 1px #777;
    border-radius: 8px;*/
}

.wide {
    width: 30%;
}

.alert {
    padding: 20px;
    background-color: green;
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s;
    /* 600ms to fade out */
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

body {
    background-color: #0F0F0F;
    color: #ffffff;
}

.main {
    margin-top: 75px;
    min-height: calc(100vh - 75px);
}

.navbar {
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #202020;
    padding: 8px;
    display: flex;
}

.navbar a {
    background-color: #00000000;
    box-shadow: none;
    cursor: pointer;
}

.navmenu {
    min-width: 450px;
    min-height: 166px;
    /*padding: 8px;*/
    background-color: #202020;
    position: fixed;
    left: 18px;
    top: 52px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: none;
    display: none;
    flex-direction: column;
}

.show {
    display: flex;
}

#hamburger-menu {
    padding: 10px;
}

.navmenu a {
    text-align: center;
    width: 100%;
    background-color: #00000000;
    padding: 0px;
    border-radius: 0px;
    padding-top: 9px;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 32px;
    min-height: 32px;
}

.navmenu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navmenu:last-child {
    border-radius: 0px 0px 5px 5px;
    border-bottom: 1px solid #00000000;
    border-bottom-color: #00000000;
    border-bottom-width: 0px;
    /*SCREEE*/
}

footer {
    background-color: #181818;
    /*width: calc(100vw - 8px);
    margin-left: -8px;*/
    padding-top: 50px;
    padding-bottom: 50px;
    /*margin-bottom: -8px;*/
    display: flex;
    justify-content: space-around;
}

footer a {
    padding: 0px;
    background-color: #00000000;
}

#searchbar {
    margin-top: 8px;
    height: 38px;
    width: 250px;
}

#searchbutton {
    margin-top: 8px;
    background: #323232;
    height: 38px;
    padding-left: 17px;
    padding-right: 17px;
}

#searchbutton img {
    padding-top: 4px;
    height: 30px;
    width: 30px;
    margin: 0px;
}