.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-color: black;
    border-width: medium;
}

button {
    background-color: #bbb;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border: none;
}

button:hover {
    border: none;
    background: orange;
    box-shadow: 0px 0px 1px #777;
    border-radius: 8px;
}

a {
    background-color: #bbb;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border: none;
}

a:hover {
    border: none;
    background: orange;
    box-shadow: 0px 0px 1px #777;
    border-radius: 8px;
}

.wide {
    width: 30%;
}

.alert {
    padding: 20px;
    background-color: green;
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s;
    /* 600ms to fade out */
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}