<html>
    <head>
        <link rel="stylesheet" href="/data/main.css">
        <title>Page Not Found</title>
    </head>
    <body align='center' style="background-color: {{background}};">
        <h1 align='center'>404: Page Not Found</h1>
        <p align='center'>What you were looking for is just not there.</p>
        <p align='center'><strong>Error:</strong> {{ error }}
        <p align='center'><a href="{{ url_for('homePage') }}">Go To The Home Page</a></p>

        <p>Feature you want added? Submit a request at <a href=https://github.com/r2boyo25/yt-pi/issues/new/choose>my GitHub page. </a></p>
    </body>
</html>
