<head>
    <title>Credits</title>
    <link rel="stylesheet" href="/data/main.css">
</head>
<body style="background-color: {{background}};">
    <br>
    <a href=/ ><img src=/data/home.png height=17px /></a>
    <div align=center >
    <h1 align=center >Credits for YT-Pi</h1>

    <h7 align=center ><b>Programmer</b></h7>
    <p align=center ><a href=https://github.com/R2Boyo25 >R2Boyo25</a></p>

    <h7 align=center ><b>Designer (V1.1+)</b></h7>
    <p align=center ><a href=https://www.deviantart.com/weirdcat279 >Weird Cat279</a></p>

    <h5 align=center >Icons</h5>
    <div align=center >Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</body>
