<head>
    <title>Credits</title>
    <style>
        a {
         background-color: #bbb;
         padding: .5em;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         border-radius: 6px;
         color: #fff;
         font-family: 'Oswald';
         font-size: 20px;
         text-decoration: none;
         border: none;
        }
        
        a:hover {
         border: none;
         background: orange;
         box-shadow: 0px 0px 1px #777;
        }
    </style>
</head>
<body>
    <a href=/ >Home</a>
    <div align=center >
    <h1 align=center >Credits for YT-Pi</h1>

    <h7 align=center ><b>Programmer</b></h7>
    <p align=center ><a href=https://github.com/R2Boyo25 >R2Boyo25</a></p>

    <h7 align=center ><b>Designer (V1.1+)</b></h7>
    <p align=center ><a href=https://www.deviantart.com/weirdcat279 >Weird Cat279</a></p>

    <h5 align=center >Icons</h5>
    <div align=center >Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</body>
