{% extends "maintemplate.html" %}
{% block head %}
<title>Error!</title>
<style>
    #errorbox {
        background-color: #bbb;
        border-radius: 6px;
        font-size: 20px;
        width: 25%;
        box-align: center;
        text-decoration: none;
        border: 2px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
{% endblock %}

{% block body %}
<div align=center>
    <div align=center style="margin-top: 21%; margin-bottom: 50%;">
        <p id="errorbox">
            <br>
            <span style="font-size: xx-large;"><b>{{ error }}</b></span>
            <br>
            {{ e }}
            <br>
            {{ extra | safe }}
            <br>
            <br>
            <p align='center'><a onclick="window.history.back()">Go back.</a></p>
            <br>
        </p>
    </div>
</div>
{% endblock %}