<html>

<head>
    <link rel="stylesheet" href="/data/main.css">
    {% block head %}
    <title>YT-Pi</title>
    {% endblock %}
</head>

<body align=center>
    <div class="navbar" align=left>
        <a id="hamburger-menu" onclick="toggleDropdown();"><img src="/data/hamburger-menu.svg" width="34px" height="34px"></img></a>
    </div>
    <div class="navmenu" id="navmenu">
        <a href="/" style="padding-top: 9px;">Home</a>
        <a href="/videos">Videos</a>
        <a href="/videos/new">Add Video</a>
        <a href="/settings">Settings</a>
    </div>
    <script src="/data/dropdown.js"></script>
    <div class="main">
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <a href="https://github.com/r2boyo25/yt-pi">Source Code</a>
        <a href="https://github.com/r2boyo25/yt-pi/issues/new/choose">Bug Reports/Feature Requests</a>
        <a href="/credits">Credits</a>
        {% block footer %}
        {% endblock %}
    </footer>
</body>

</html>