{% extends "maintemplate.html" %}
{% block head %}
<title>YT-PI Settings</title>
<link rel="stylesheet" href="/data/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='/data/form.css' {% endblock %} {% block body %} <br><a href= /><img src=/data/home.png height=17px /></a>
{% endblock %}
{% block body %}
<div align=center>
    <form action="" method="post" align='center' style="margin-top: 23%; margin-bottom: 50%;">
        <div align=center>
            <p>
                <br>
                Video Save Folder
                <br>
                <input type="text" placeholder="" name="videofolder" value="{{
                        config.get('videofolder') }}" height=5%>
                <br>
                Server Port (Changing this will change the url you use to access this)
                <br>
                <input type="text" placeholder="" name="port" value="{{
                        config.get('port') }}" height=5%>
                <br>
                Background color
                <br>
                <input type="text" placeholder="" name="background" value="{{
                        config.get('background') }}" height=5%>
                <br>
                <button type="submit" class="btn btn-success" style='font-family: "ar-destine"; color: black;'>
                    Save
                </button>
                <br>
                <br>
            </p>
        </div>
    </form>
</div>
{% endblock %}