{% extends "maintemplate.html" %}

{% block head %}

<link rel="stylesheet" href="/data/list.css">
{% endblock %}

{% block body %}
{{ links | safe }}
<script>
    function myFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("searchbar");
        input.onkeyup = "myFunction();"
        filter = input.value.toUpperCase();
        ul = document.getElementById("myMenu");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function getParameter(key) {
        address = window.location.search;
        parameterList = new URLSearchParams(address);
        return parameterList.get(key);
    }

    console.log(getParameter("q"))

    if (getParameter("q")) {
        document.getElementById("searchbar").value = getParameter("q");
    }

    myFunction();
</script>
{% endblock %}