{% extends "maintemplate.html" %}
{% block head %}
<title>{{title | clean_video_name}}</title>
<link rel="stylesheet" href="/data/video.css">
{% endblock %}

{% block nav %}
<input id="shuffle" name="shuffle" type="checkbox" onclick="onShuffleClicked(this.checked);"/>
<label for="shuffle">Shuffle/Autoplay</label>
{% endblock %}

{% block body %}
<div id="videopage">
  <div align=center id="videobox">
    <video width="98%" height="90%" controls poster="/videos/{{ path.lstrip('/vidfile').split('/')[0] }}/thumb" id="videoplayer" onended="shuffleVideo();" autoplay>
      <source src="{{ path }}" type="video/mp4">
      <source src="{{ path }}" type="video/webm">
    </video>
    <h1>{{ title | clean_video_name | safe }}</h1>
    <hr>
    <p id="description">{{ description | safe | urlize(40, true) }}<br></p>
  </div>
  <div id="videolist">
    {% for video in videos %}
    {% if video != title %}
    <a href="/videos/{{video}}">
      <img src="/videos/{{video}}/thumb"/>
      <span>{{ video | clean_video_name }}</span>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
<script src="/data/cookie.js"></script>
<script>
  function getParameter(key) {
      address = window.location.search;
      parameterList = new URLSearchParams(address);
      return parameterList.get(key);
  }

  if (getParameter("t")) {
      document.getElementById("videoplayer").currentTime = getParameter("t");
  }

  if (getCookie("shuffle", "false") === "true") {
      document.getElementById("shuffle").checked = true;
  }
  
  function shuffleVideo() {
      console.log("shuffle = " + getCookie("shuffle", "false") === "true");
      if (getCookie("shuffle", "false") === "true") {
          window.location.href = "/random_video?from=" + "{{ title }}";
      }
  }

  function onShuffleClicked(value) {
      setCookie("shuffle", value ? "true" : "false");
  }

  videoplayer = document.getElementById("videoplayer");
  document.addEventListener("keydown", (e) => {
      if (document.getElementById("searchbar") === document.activeElement) {
          return;
      }
      
      if (!e.repeat) {
          if (e.key == "ArrowRight") {
              videoplayer.currentTime += 5;
          } else if (e.key == "ArrowLeft") {
              videoplayer.currentTime -= 5;
          } else if (e.key == "f") {
              if (document.fullscreenElement != videoplayer) {
                  if (videoplayer.requestFullscreen)
                      videoplayer.requestFullscreen();
                  else if (videoplayer.msRequestFullscreen)
                      videoplayer.msRequestFullscreen();
                  else if (videoplayer.mozRequestFullScreen)
                      videoplayer.mozRequestFullScreen();
                  else if (videoplayer.webkitRequestFullscreen)
                      videoplayer.webkitRequestFullscreen();
              } else {        
                  if (videoplayer.exitFullscreen) {
                      videoplayer.exitFullscreen(); // Standard
                  } else if (videoplayer.webkitExitFullscreen) {
                      videoplayer.webkitExitFullscreen(); // Blink
                  } else if (videoplayer.mozCancelFullScreen) {
                      videoplayer.mozCancelFullScreen(); // Gecko
                  } else if (videoplayer.msExitFullscreen) {
                      videoplayer.msExitFullscreen(); // Old IE
                  }
              }
          } else if (e.key == " ") {
              if (videoplayer === document.activeElement) {
                  return;
              }
              
              if (videoplayer.paused) {
                  videoplayer.play();
              } else {
                  videoplayer.pause();
              }

              e.preventDefault();
          }
      } else {
          if (e.key == "ArrowRight") {
              videoplayer.currentTime += 0.5;
          } else if (e.key == "ArrowLeft") {
              videoplayer.currentTime -= 0.5;
          }
      }
  });
</script>
{% endblock %}

