<html>
    <head>
      <link rel="stylesheet" href="/data/main.css">
      <link rel="stylesheet" href="/data/list.css">
    </head>
    <body style="background-color: {{background}};">
        {{ links | safe }}
        <script>
            function myFunction() {
              var input, filter, ul, li, a, i;
              input = document.getElementById("mySearch");
              filter = input.value.toUpperCase();
              ul = document.getElementById("myMenu");
              li = ul.getElementsByTagName("li");
              for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
                } else {
                  li[i].style.display = "none";
                }
              }
            }
        </script>
    </body>
</html>
